body {
    margin: 0 auto;
    max-width: 1440px;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Spectral SC', serif;
*/
a {
    color: #2E2F22;
    /* Цвет ссылок */
}

a:visited {
    color: #2E2F22;
    /* Цвет посещенных ссылок */
}

a:active {
    color: #2E2F22;
    /* Цвет активных ссылок */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background: url('img/dekstop-1.png') no-repeat center;
    height: 581px;
    margin: 0;
}

.header-2 {
    background: url('img/dekstop-2.png') no-repeat center;
    height: 581px;
    margin: 0;
}

.logo {
    margin-top: 4px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    color: #2E2F22;
}

.header__item {
    margin-right: 83px;

}

.header__item:last-of-type {
    margin-right: 0px;
}

.header__link {
    text-decoration: none;
}



.articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;

}

h2 {
    font-family: 'Spectral SC', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: #2E2F22;
}

.articles__select {
    background: #D7D1C9;
    border-radius: 10px;
    width: 203px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    padding-left: 20px;
}


.articles__content-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;
}

.articles__link {
    text-decoration: none;
}

.link-1 .articles__title {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.link-1 .articles__description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.link-1 .articles__bottom {
    DISPLAY: FLEX;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

.articles__img {
    border-radius: 10px;
}

.article-3 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.articles__content-2 {
    display: flex;
    height: 552px;
    width: 100%;
}

.articles__content-2 .articles__link {
    flex: 0 1 50%;
}

.link-2 {
    background: url('img/Article-4.png') no-repeat;
    border-radius: 10px;
    margin-right: 20px;
}

.link-3 {
    background: url('img/Article-5.png') no-repeat;
    border-radius: 10px;
}

.articles__content-2 .articles__main {
    margin-left: 82px;
}


.articles__content-2 .articles__title {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 360px;
}

.articles__content-2 .articles__description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: -15px;
}

.articles__content-2 .articles__bottom {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 81px;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}


.button {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #202117;
    border-radius: 10px;
    width: 224px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #202117;
    background: #E5E5E5;
    margin-top: 104px;
}


.blog__title {
    margin-top: 85px;
    text-align: center;
    margin-bottom: 51px;
}

.blog__about-me {
    display: flex;

}

.blog__post {
    margin-top: 25px;
    margin-left: 27px;
    color: #2E2F22;

}

.blog__img {
    border-radius: 10px;
    max-height: 693px;
    max-width: 590px;
}

/*
.blog__think::after {
    content: '';
    width: 214.15px;
    height: 0px;
    border: 2px solid #D7D1C9;
    background-color: #D7D1C9;
    transform: rotate(-90deg);
    margin-left: -127px;


}
*/

.blog__paragraphs {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.blog__paragraph {
    padding-bottom: 10px;
}

.blog__think {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #2E2F22;
    padding-top: 50px;
}

.portfolio {
    margin-top: 83px;
    height: 779px;
}

.portfolio__title {
    text-align: center;
    margin-bottom: 49px;
}

.portfolio__posts {
    display: flex;

}

.portfolio__subtitle {
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 140px;
}

.portfolio__subtitle-sub {
    text-align: center;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.portfolio__paragraph {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.post-1 {
    background-image: url('img/Portfolio-1.png');
    width: 387px;
    height: 525px;
    margin-right: 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.post-2 {
    background: url('img/Portfolio-2.png');
    color: #FFFFFF;
    margin-right: 20px;
    width: 387px;
    height: 525px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.post-3 {
    background-image: url('img/Portfolio-3.png');
    width: 387px;
    height: 525px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}


.container__write {
    max-width: 996px;
    margin: 0 auto;
    height: 741px;
}

.write {
    margin-top: 85px;
}

.write__title {
    text-align: center;
    margin-bottom: 49px;
}

.write__field {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2E2F22;
    background: url('img/write1.png') no-repeat;
    border-radius: 10px;
    height: 637px;
}

.write__comment-field {
    display: flex;
    flex-direction: column;
    margin-left: 81px;
    margin-right: 78px;
}

.write__data {
    display: flex;
    margin-top: 53px;
    margin-bottom: 20px;
    margin-left: 81px;
}

.write__email {
    margin-left: 20px;
}

input {
    width: 407px;
    height: 63px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.write__input {
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #202117;
}

.write__comment {
    width: 837px;
    height: 293px;

}

.write__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    border-radius: 10px;
}

.footer {
    margin-top: 81px;
    width: 1440px;
    height: 181px;
    background: #D7D1C9;
}

.footer__list {
    max-width: 538px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
}

.article__container {
    max-width: 998px;
    margin-left: 119px;
}

.article_title {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

.article__bottom {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
    margin-bottom: 50px;
    margin-top: -20px;
}

.article__tags {
    margin-right: 18px;

}

.article__paragraphs {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.article__figure {
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2E2F22;
    padding-bottom: 20px;
}

.article__img {
    margin-top: 20px;
}