body {
    margin: 0 auto;
    max-width: 1440px;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Spectral SC', serif;
*/
a {
    color: #2E2F22;
    /* Цвет ссылок */
}

a:visited {
    color: #2E2F22;
    /* Цвет посещенных ссылок */
}

a:active {
    color: #2E2F22;
    /* Цвет активных ссылок */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background: url('img/dekstop-1.png') no-repeat center;
    height: 581px;
    margin: 0;
}

.logo {
    margin-top: 4px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    color: #2E2F22;
}

.header__item {
    margin-right: 83px;

}

.header__item:last-of-type {
    margin-right: 0px;
}

.header__link {
    text-decoration: none;
}

.articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;

}

h2 {
    font-family: 'Spectral SC';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: #2E2F22;
}

.articles__select {
    background: #D7D1C9;
    border-radius: 10px;
    width: 203px;
    height: 46px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    padding-left: 20px;
}


.articles__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.articles__link {
    text-decoration: none;
}

.link-1 h3 {
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.link-1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.articles__datatag {
    DISPLAY: FLEX;
    align-items: center;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

.link-2 {
    margin-top: 62px;
}

.articles__image-3 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.articles__content img {
    border-radius: 10px;
}