body {
    margin: 0 auto;
    max-width: 1440px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/**/

a {
    color: #2E2F22;
    /* Цвет ссылок */
}

a:visited {
    color: #2E2F22;
    /* Цвет посещенных ссылок */
}

a:active {
    color: #2E2F22;
    /* Цвет активных ссылок */
}

/*Общий контейнер*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Контейнер Хедера*/
.header__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Стили фона Хедера и Хедера2*/
.header {
    background: url('../img/dekstop-1.jpg') no-repeat center;
    height: 581px;
    margin: 0;
}

.header-2 {
    background: url('../img/dekstop-2.jpg') no-repeat center;
    height: 581px;
    margin: 0;
}

/*Стил Хедера*/
.header__logo {
    margin-top: 4px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    color: #2E2F22;
}

.header__item {
    margin-right: 83px;

}

.header__item:last-of-type {
    margin-right: 0px;
}

.header__link {
    text-decoration: none;
}


/*Стили Новостных постов*/

.articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
    position: relative;

}

h2 {
    font-family: 'Spectral SC', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: #2E2F22;
    font-weight: bold;
}

.articles__label {
    position: absolute;
    right: 10%;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.articles__select {
    border: none;
    border-radius: 10px;
    width: 203px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2E2F22;
    padding-left: 20px;
    cursor: pointer;
    appearance: none;
    outline: none;
    background: url('../img/Polygon_1.svg') no-repeat 90% 50% #D7D1C9;
}



/*Общее стили в новостях*/
.articles__img {
    border-radius: 10px;
}

.articles__link {
    text-decoration: none;
}

.articles__category.hidden {
    display: none;
}

/*Стили первых 3х новостей*/
.articles__content-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles__content-1 .articles__subtitle {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.articles__content-1 .articles__description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.articles__content-1 .articles__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

.article-3 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/*Стили нижней строки новостей */
.articles__content-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 62px;
}


.articles__block-1 {
    position: relative;
    margin-right: 20px;
}

.articles__block-2 {
    position: relative;
}

.articles__content-2 .articles__main {
    position: absolute;
    top: 61%;
    left: 14%;
}


.articles__content-2 .articles__subtitle {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

.articles__content-2 .articles__description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: -12px;
}

.articles__content-2 .articles__bottom {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    margin-right: -18px;
}


/*Ктопка для новостей и потфолио*/

.articles__button,
.portfolio__button {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #202117;
    border-radius: 10px;
    width: 224px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #202117;
    margin-top: 104px;
    cursor: pointer;
}


/*Стили для Блога*/

.blog {
    margin-bottom: 83px;
}

.blog__title {
    margin-top: 85px;
    text-align: center;
    margin-bottom: 51px;
}

.blog__about-me {
    display: flex;

}

.blog__img {
    border-radius: 10px;
}

.blog__post {
    margin-top: 25px;
    color: #2E2F22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__paragraphs {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-left: 40px;
}


.blog__think {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #2E2F22;
    border-left: 3px solid #D7D1C9;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 70px;
}


/*Стили Портфолио*/

.portfolio {
    margin-top: 83px;
}

.portfolio__title {
    text-align: center;
    margin-bottom: 49px;
}

.portfolio__posts {
    display: flex;

}

.portfolio__subtitle {
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 140px;
}

.portfolio__subtitle-sub {
    text-align: center;
    font-family: 'Spectral SC';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.portfolio__paragraph {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.portfolio__post-1 {
    background-image: url('../img/portfolio-1.jpg');
    width: 387px;
    height: 525px;
    margin-right: 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.portfolio__post-2 {
    background: url('../img/portfolio-2.jpg');
    color: #FFFFFF;
    margin-right: 20px;
    width: 387px;
    height: 525px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.portfolio__post-3 {
    background-image: url('../img/portfolio-3.jpg');
    width: 387px;
    height: 525px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}


/* Стили "Написать мне"*/

.container__write {
    max-width: 996px;
    margin: 0 auto;
    max-height: 741px;
}

.write {
    margin-top: 85px;
}

.write__title {
    text-align: center;
    margin-bottom: 49px;
}

.write__field {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #2E2F22;
    background: url('../img/write.jpg') no-repeat;
    border-radius: 10px;
    border: none;
    height: 637px;
    background-size: cover;
}

.write__comment-field {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.write__comment.warning {
    color: #ff0000;
    border-color: #ff0000;
}

.write__data {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    margin-bottom: 20px;
}

.write__text {
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #202117;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
}

.write__email {
    margin-left: 20px;
}

.write__input {
    margin-top: 12px;
    width: 407px;
    height: 63px;
}

.write__comment {
    margin-top: 12px;
    width: 837px;
}

.write__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #202117;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #202117;

}

.write__button:disabled {
    opacity: 0.4;
    border-color: #010127;
    cursor: default;
}



/*Стили общего Футера*/

.footer {
    margin-top: 81px;
    width: 1440px;
    height: 181px;
    background: #D7D1C9;
}

.footer__list {
    max-width: 538px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
}

.footer__link {
    text-decoration: none;
}




/*Контейнер Новостной страницы*/


.article__container {
    max-width: 998px;
    margin-left: 119px;
}

/*Стили "Как себя мотивировать"*/
.article__title {
    font-family: 'Spectral SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

.article__bottom {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
    margin-bottom: 50px;
    margin-top: -20px;
}

.article__tags {
    margin-right: 18px;

}

.article__paragraphs {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.article__figure {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2E2F22;
    padding-bottom: 20px;
}

.article__img {
    margin-top: 20px;
}

.article__like-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.article__like {
    border: none;
    background-color: #FFFFFF;
    background: url('../img/like.svg') no-repeat;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.article__like.added {
    background: url('../img/like_1.svg') no-repeat;
}

.article__likes-number {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #2E2F22;
    vertical-align: bottom;
}

.article__social-link {
    margin-left: 32px;
}


.article__link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #2E2F22;
    margin-top: 37px;
    padding-right: 90px;
}


.article__link::before,
.article__link::after {
    position: absolute;
    content: "";
    right: 1%;
}

.article__link::before {
    background: #2E2F22;
    width: 62px;
    height: 2px;
    top: 53%;
}

.article__link::after {
    top: 46%;
    width: 9px;
    height: 9px;
    border-top: 2px solid #2E2F22;
    border-right: 2px solid #2E2F22;
    transform: rotate(45deg);
    border-radius: 10%;
}


/*Стили Комментариев */

/*контейнер комментариев*/
.comments__container {
    max-width: 793px;
    margin-left: 121px;
    margin-top: 65px;

}

.comments__field {
    border-radius: 10px;
    background: #ECE1E1;
    min-height: 429px;
    display: flex;
    justify-content: center;
    margin-bottom: 77px;
    box-sizing: border-box;

}

.comments__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 44px;
}

.comments__comment {
    list-style: none;
    margin-bottom: 22px;
}

.comments__comment1 {
    margin-bottom: 45px;
}

.comments__user {
    display: flex;
}

.comments__name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    font-weight: bold;
}

.comments__img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 12px;
}

.comments__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
}

.comments__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #2E2F22;
    margin-left: 83px;
    margin-bottom: 60px;
}

.comments__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.comments__inputs {
    display: flex;
    flex-direction: column;
    margin-left: 81px;
    margin-bottom: 3px;
}

.comments__input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    outline: none;
}

.comments__input-sring {
    border: none;
    border-bottom: 1px solid #2E2F22;
    width: 221px;
    padding-bottom: 15px;

}

.comments__button {
    width: 224px;
    height: 46px;
    border: 1px solid #202117;
    border-radius: 10px;
    margin-top: 40px;
    color: #202117;
    background-color: #FFFFFF;
    cursor: pointer;
}

.comments__button:disabled {
    opacity: 0.25;
    cursor: default;
}

.comments__area {
    width: 406px;
    border: 1px solid #2E2F22;
    border-radius: 10px;
    padding: 18px 20px;

}

.comments__area.warning {
    color: #ff0000;
    border-color: #ff0000;
}